# SURBHI RASTOGI
Python for ML/AI intern @ Elite Techno Groups
Project #1 - JSON Based Inventory Management System
Read Data From JSON

In [7]:
import json

In [4]:
fd=open("Record.json",'r')
r=fd.read()
fd.close()

In [5]:
Record=json.loads(r)

In [8]:
Record

{'1001': {'Name': 'Drink', 'Price': 100, 'Quantity': 100},
 '1002': {'Name': 'Choco Cake', 'Price': 40, 'Quantity': 20},
 '1003': {'Name': 'Keyboard', 'Price': 350, 'Quantity': 25},
 '1004': {'Name': 'Laptop', 'Price': 50000, 'Quantity': 8},
 '1005': {'Name': 'Juice', 'Price': 150, 'Quantity': 95},
 '1006': {'Name': 'Pen', 'Price': 20, 'Quantity': 100},
 '1007': {'Name': 'Box', 'Price': 50, 'Quantity': 70},
 '1008': {'Name': 'Mobile Phone', 'Price': 15000, 'Quantity': 15},
 '1009': {'Name': 'Notebook', 'Price': 30, 'Quantity': 75},
 '1010': {'Name': 'Case', 'Price': 1500, 'Quantity': 55},
 '1011': {'Name': 'Sofa', 'Price': 40000, 'Quantity': 30},
 '1012': {'Name': 'Bed', 'Price': 45000, 'Quantity': 17},
 '1013': {'Name': 'Bulb', 'Price': 50, 'Quantity': 150},
 '1014': {'Name': 'LED', 'Price': 75000, 'Quantity': 42},
 '1015': {'Name': 'Tablet', 'Price': 30000, 'Quantity': 18},
 '1016': {'Name': 'Table', 'Price': 2400, 'Quantity': 23},
 '1017': {'Name': 'Rod', 'Price': 800, 'Quantity': 750},
 '1018': {'Name': 'Window Glass', 'Price': 1700, 'Quantity': 67},
 '1019': {'Name': 'Sun Glasses', 'Price': 1000, 'Quantity': 78},
 '1020': {'Name': 'Artificial Plants', 'Price': 400, 'Quantity': 350}}

In [12]:
#adding new item into inventory
n=int(input("Number of items"))
prod_id=1020
for i in range(n):
    prod_id=prod_id+1
    Name=input("Enter Name of the Product: ")
    Price=int(input("Enter Price of the product: "))
    Quantity=int(input("Enter quantity of the product: "))
    Record[prod_id] = {'Name': Name, 'Price': Price, 'Quantity': Quantity}

    js = json.dumps(Record)

    fd = open("Record.json",'w')
    fd.write(js)
    fd.close()

Number of items8
Enter Name of the Product: shirt
Enter Price of the product: 1000
Enter quantity of the product: 4
Enter Name of the Product: shoe polish
Enter Price of the product: 8
Enter quantity of the product: 80
Enter Name of the Product: colours
Enter Price of the product: 100
Enter quantity of the product: 10
Enter Name of the Product: tshirt
Enter Price of the product: 500
Enter quantity of the product: 10
Enter Name of the Product: handgloves
Enter Price of the product: 600
Enter quantity of the product: 20
Enter Name of the Product: charger
Enter Price of the product: 700
Enter quantity of the product: 5
Enter Name of the Product: boots
Enter Price of the product: 2000
Enter quantity of the product: 6
Enter Name of the Product: candies
Enter Price of the product: 30
Enter quantity of the product: 40

In [14]:
Record

{'1001': {'Name': 'Drink', 'Price': 100, 'Quantity': 100},
 '1002': {'Name': 'Choco Cake', 'Price': 40, 'Quantity': 20},
 '1003': {'Name': 'Keyboard', 'Price': 350, 'Quantity': 25},
 '1004': {'Name': 'Laptop', 'Price': 50000, 'Quantity': 8},
 '1005': {'Name': 'Juice', 'Price': 150, 'Quantity': 95},
 '1006': {'Name': 'Pen', 'Price': 20, 'Quantity': 100},
 '1007': {'Name': 'Box', 'Price': 50, 'Quantity': 70},
 '1008': {'Name': 'Mobile Phone', 'Price': 15000, 'Quantity': 15},
 '1009': {'Name': 'Notebook', 'Price': 30, 'Quantity': 75},
 '1010': {'Name': 'Case', 'Price': 1500, 'Quantity': 55},
 '1011': {'Name': 'Sofa', 'Price': 40000, 'Quantity': 30},
 '1012': {'Name': 'Bed', 'Price': 45000, 'Quantity': 17},
 '1013': {'Name': 'Bulb', 'Price': 50, 'Quantity': 150},
 '1014': {'Name': 'LED', 'Price': 75000, 'Quantity': 42},
 '1015': {'Name': 'Tablet', 'Price': 30000, 'Quantity': 18},
 '1016': {'Name': 'Table', 'Price': 2400, 'Quantity': 23},
 '1017': {'Name': 'Rod', 'Price': 800, 'Quantity': 750},
 '1018': {'Name': 'Window Glass', 'Price': 1700, 'Quantity': 67},
 '1019': {'Name': 'Sun Glasses', 'Price': 1000, 'Quantity': 78},
 '1020': {'Name': 'Artificial Plants', 'Price': 400, 'Quantity': 350},
 1021: {'Name': 'shirt', 'Price': 1000, 'Quantity': 4},
 1022: {'Name': 'shoe polish', 'Price': 8, 'Quantity': 80},
 1023: {'Name': 'colours', 'Price': 100, 'Quantity': 10},
 1024: {'Name': 'tshirt', 'Price': 500, 'Quantity': 10},
 1025: {'Name': 'handgloves', 'Price': 600, 'Quantity': 20},
 1026: {'Name': 'charger', 'Price': 700, 'Quantity': 5},
 1027: {'Name': 'boots', 'Price': 2000, 'Quantity': 6},
 1028: {'Name': 'candies', 'Price': 30, 'Quantity': 40}}